<h1>Links links links</h1>

<section class="filter-buttons">
  <button class="filter-by-status" id="true">Show Read Links</button>
  <button class="filter-by-status" id="false">Show Unread Links</button>
  <button class="show-all">Show All</button>
  <button class="filter-alphabetically">Sort Alphabetically</button>

</section>

<br>
<br>

<%= form_for @link do |f| %>
  <% if current_user %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Add Link" %>
<% end %>

<% if current_user %>
  <div id="links-list">
  </div>
<% end %>
